In [1]:
import pandas as pd
import numpy as np
import re

### Load the dataset

In [2]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

print(train_df.shape)
print(test_df.shape)

(7613, 5)
(3263, 4)

In [3]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
def clean_text(text):
    text = re.sub(r'http\S+', '', text) # remove URLs
    text= re.sub(r'\d+', '', text) # remove numbers
    #text = re.sub(r'\s+[a-zA-Z]\s+', ' ', text) # remove single characters
    text = re.sub(r'\b[a-zA-Z]\b', '', text) 
    text = re.sub(r'[^a-zA-Z0-9\s]', ' ', text) # remove special characters
    return text

In [6]:
train_df.text = train_df.text.apply(clean_text)

In [7]:
train_df.text

0       Our Deeds are the Reason of this  earthquake M...
1                  Forest fire near La Ronge Sask  Canada
2       All residents asked to  shelter in place  are ...
3         people receive  wildfires evacuation orders ...
4       Just got sent this photo from Ruby  Alaska as ...
                              ...
7608    Two giant cranes holding  bridge collapse into...
7609     aria ahrary  TheTawniest The out of control w...
7610                         UTC  km  of Volcano Hawaii
7611    Police investigating after an  bike collided w...
7612    The Latest  More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [9]:
test_df.text

0                      Just happened a terrible car crash
1       Heard about #earthquake is different cities, s...
2       there is a forest fire at spot pond, geese are...
3                Apocalypse lighting. #Spokane #wildfires
4           Typhoon Soudelor kills 28 in China and Taiwan
                              ...
3258    EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259    Storm in RI worse than last hurricane. My city...
3260    Green Line derailment in Chicago http://t.co/U...
3261    MEG issues Hazardous Weather Outlook (HWO) htt...
3262    #CityofCalgary has activated its Municipal Eme...
Name: text, Length: 3263, dtype: object

In [10]:
print("test")

test